<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,                     Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="ibsSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <!-- **************************************IBS Settings ************************************************ -->
  <ibsSettings>
    <add key="encryptionKey" value="secret" />
  </ibsSettings>
  <!-- **************************************START - SETTINGS FOR THE SERVICE ************************************************ -->
  <appSettings>
    <!-- Connection String to the Ibs DATAREPOSITORY schema. Used to get the connection string to the QUEUEDATA schema-->
    <add key="ConnectionString" value="v3basic***MC6KMx8reXiorj5Nwm5gwoJab5jgDvyrMjIga1bQ0r0QcnlC5LmDXHDgI1QmTk8DjJazznAz3Gj9mIpN50ZJbOxv340Aw8j94SVfrCre5dNTerheySeL/m5aVMG61pir57lSJFw9CgRuzR+w8Lp2Gw==" />
    <!-- Queue Listener Settings-->
    <!-- When there are NO messages in the queue, time to wait in seconds before checking again whether there are NEW messages in the queue-->
    <!-- NOTE: There is NO delay (i.e. this setting does NOT apply) when there are pending messages in a queue-->
    <!-- Values must be between 1 and 180 seconds -->
    <!-- Recommended value is 4 seconds-->
    <add key="QueuePollingIntervalForNewMessagesInSeconds" value="4" />
    <add key="IFComponentsRootFolderPath" value="C:\Program Files\IBS-Interprit\ISM\IFComponents" />
  </appSettings>
  <!-- **************************************END - SETTINGS FOR THE SERVICE ************************************************ -->
  <!-- **************************************START - SETTINGS FOR LOGGING ************************************************ -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <!-- WINDOWS EVENT LOG for "AUDIT" (informational messages) -->
      <add source="Integration Framework" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData,                            Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener,                Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener" />
      <!-- Flat File for PROGRAM "TRACE" -->
      <add fileName="C:\ISM_Logs\integframework_trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData,                             Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,                Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener Trace" />
      <!-- Flat File for "EXCEPTIONS" -->
      <add fileName="C:\ISM_Logs\integframework_exceptions.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData,                                  Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,                Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener Exceptions" />
      <!-- Flat file for TIMING processing of messages -->
      <add fileName="C:\ISM_Logs\integframework_timer.log" formatter="Operation Timer Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,                Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Flat File Operation Timer Listener" />
    </listeners>
    <formatters>
      <!-- used for Flat file TRACE  -->
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;                     Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;                     EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;                     Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;                     Application Domain: {appDomain}&#xD;&#xA;                     Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;                     Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,                  Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
      <!-- used for operation TIMING  -->
      <add template="{timestamp}{dictionary(,{value})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Operation Timer Text Formatter" />
    </formatters>
    <categorySources>
      <!-- Write AUDIT messages to the WINDOWS EVENT LOG-->
      <add switchValue="All" name="Audit">
        <listeners>
          <!-- Comment/Uncomment to start or stop logging of AUDIT messages to the Windows Event Log (on by default)-->
          <add name="Formatted EventLog TraceListener"/>
          <!-- Comment/Uncomment to start or stop logging of TRACE messages to flat file (off by default)-->
          <add name="FlatFile TraceListener Trace" />
        </listeners>
      </add>
      <!-- Write messages to FLAT FILE to show the PROGRAM TRACE -->
      <add switchValue="All" name="Trace">
        <listeners>
          <!-- Comment/Uncomment to start or stop logging of TRACE messages to flat file (off by default)-->
          <add name="FlatFile TraceListener Trace" />
        </listeners>
      </add>
      <!-- Write processing times to FLAT FILE -->
      <add switchValue="All" name="OperationTimer">
        <listeners>
          <!--<add name="Flat File Operation Timer Listener"/>-->
        </listeners>
      </add>
      <!-- Write messages to FLAT FILE to show the EXCEPTIONS -->
      <add switchValue="All" name="Exception">
        <listeners>
          <!-- Comment/Uncomment to start or stop logging of EXCEPTION messages (on by default)-->
          <add name="Formatted EventLog TraceListener" />
          <!--<add name="FlatFile TraceListener Exceptions"/>-->
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <!--listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners-->
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- **************************************END - SETTINGS FOR LOGGING ************************************************ -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>